/* .form-control {
  border: 2px solid white;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}

#id_from_date,
#id_to_date,
#id_Store,
#id_MRP,
#id_Expiry_Date,
#id_Pysical_Qty,
#id_GST,
#id_CGST,
#id_SGST,
#id_IGST,
#id_Remark {
  border: 2px solid rgb(233, 233, 233);
  width: 100%;
  background-color: rgb(233, 233, 233);
  border-bottom: 1px solid black;
} */
