
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 590px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    color: #555;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    color: #333;
}

.item-row:last-child {
    border-bottom: none;
}

.remove-row-btn {
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
}
#removebtn{
 margin-left: 30px;
 padding: 10px;
}

#add-row-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.error-message {
    text-align: center;
    color: red;
    margin-top: 10px;
}