{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <style>
        .search-button {
            margin-left: 99px; /* Adjust the margin value as per your preference */
        }
        .fa-sort {
            font-size: 1.2em; /* Adjust the font size as needed */
        }
        .table-container {
            max-width: 1200px; /* Adjust the maximum width of the container */
            margin: 0 auto;
            overflow-x: auto; /* Enable horizontal scrolling for the table */
        }
        .sort-icon {
            margin-left: 5px;
        }
        .main-quantity {
            text-align: center;
            font-size: 1.5em; /* Adjust the font size as needed */
        }
        #table-header {
            color: black; /* Set the color to black */
        }
        th a {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-decoration: none;
          color: black; /* Change the color as needed */
        }
        
        #sort_icon {
          margin-left: 5px; /* Adjust the margin as needed */
        }
        
        
        th a:hover {
            text-decoration: none;
        }
    </style>
{% endblock styles %}


{% block content %}
<section>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <form method="GET" action="{% url 'stocks_balance' %}" class="d-flex">
      <div class="new me-2 ">
        <input type="text" class="form-control search-button" name="search_query" placeholder="Search by Item Name, or Item Code">
      </div>
      <button class="btn btn-primary search-button" type="submit">Search</button>
    </form>
    
    <a href="{% url 'add_stocks_balance' %}">
      <button type="button" class="btn btn-success">Add Stock Balance</button>
    </a>   
  </div>

  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="card">
      <h2 class="card-header">Stock Balance</h2>
      <div class="card-body">
        <div class="table-container"> <!-- Use the custom container class -->
          <table class="table table-bordered table-hover">
            <tr id="table-header">
              <tr>
                <th>
                  <a href="{% url 'stocks_balance' %}?sort_by=item_name&sort_order={{ sort_order|default:'asc' }}">
                    Item<br>Name
                    <span id="sort_icon" class="fa {% if sort_by == 'item_name' %}fa-sort-amount-{% if sort_order == 'asc' %}down{% else %}up{% endif %}{% else %}fa-sort{% endif %}"></span>
                  </a>
                </th>
                
                <th>
                  <a href="{% url 'stocks_balance' %}?sort_by=item_code&sort_order={{ sort_order|default:'asc' }}">
                    Item <br> Code
                    <span id="sort_icon" class="fa {% if sort_by == 'item_code' %}fa-sort-amount-{% if sort_order == 'asc' %}down{% else %}up{% endif %}{% else %}fa-sort{% endif %}"></span>
                  </a>
                </th>
                <th>Item <br> Category</th>
                <th>Item <br> Group</th>
                <th>
                  <a href="{% url 'stocks_balance' %}?sort_by=created_date&sort_order={{ sort_order|default:'asc' }}">
                    Created At 
                    <span id="sort_icon" class="fa {% if sort_by == 'created_date' %}fa-sort-amount-{% if sort_order == 'asc' %}down{% else %}up{% endif %}{% else %}fa-sort{% endif %}"></span>
                  </a>
                </th>
                <th>
                  <a href="{% url 'stocks_balance' %}?sort_by=update_date&sort_order={{ sort_order|default:'asc' }}">
                    Updated At 
                    <span id="sort_icon" class="fa {% if sort_by == 'update_date' %}fa-sort-amount-{% if sort_order == 'asc' %}down{% else %}up{% endif %}{% else %}fa-sort{% endif %}"></span>
                  </a>
                </th>
                <th colspan="{{ branches|length }}" class="main-quantity">Quantity</th>
                <th>Action</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                {% for branch in branches %}
                <th>{{ branch.branch_name }}</th>
                {% endfor %}
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for row in stock_balance_data %}
              <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td>{{ row.5 }}</td>
                <td>{{ row.6 }}</td>
                {% for quantity in row.4 %}
                <td class="text-center">{{ quantity }}</td>
                {% endfor %}
                
                <td>
                  {% comment %} <button class="btn btn-primary edit-button" data-branch-id="{{ branch.id }}" data-item-id="{{ item.id }}">Edit</button> {% endcomment %}
                  <a href="stocks_balance/edit/{{ row.1 }}/"  class="btn btn-primary edit-button"> Edit  {{ branch.id }} </a>
                  
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const editButtons = document.querySelectorAll('.edit-button');

  editButtons.forEach(button => {
      button.addEventListener('click', function() {
          const branchId = this.getAttribute('data-branch-id');
          const itemId = this.getAttribute('data-item-id');
          const editUrl = `/stocks_balance/edit/${branchId}/${itemId}/`;
          
          window.location.href = editUrl;
      });
  });
</script>

{% endblock content %}
