{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block styles %}
{{block.super}}
<link href="{% static 'css/view_suppliers.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<section style="width: 100%;">
    <div>
        <div class="d-flex align-items-center justify-content-between">
          

        <!-- <div class="float-end">
            <a href="{% url 'add_product' %}">
                <button type="button" class="btn btn-success">Add Product</button>
            </a>
        </div> -->
        </div>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Supplier Type Name</th>                              
              </tr>
            </thead>
            <tbody>
              {% for Supplier_type in Supplier_types %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{Supplier_type.name}}</td> 
                <td>{{Supplier_type.created_at}}</td>  
                <td>{{Supplier_type.updated_at}}</td>                          
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</section>
{% endblock content %}